<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Projekat2019</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AllProjections</display-name>
    <servlet-name>AllProjections</servlet-name>
    <servlet-class>servlets.AllProjections</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllProjections</servlet-name>
    <url-pattern>/AllProjections</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SuccessServlet</display-name>
    <servlet-name>SuccessServlet</servlet-name>
    <servlet-class>status.SuccessServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuccessServlet</servlet-name>
    <url-pattern>/SuccessServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllMovies</display-name>
    <servlet-name>AllMovies</servlet-name>
    <servlet-class>servlets.AllMovies</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllMovies</servlet-name>
    <url-pattern>/AllMovies</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MovieServlet</display-name>
    <servlet-name>MovieServlet</servlet-name>
    <servlet-class>servlets.MovieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MovieServlet</servlet-name>
    <url-pattern>/MovieServlet</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>dao.InitListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>AllUsersServlet</display-name>
    <servlet-name>AllUsersServlet</servlet-name>
    <servlet-class>servlets.AllUsersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllUsersServlet</servlet-name>
    <url-pattern>/AllUsersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>servlets.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoggedInUserProfileServlet</display-name>
    <servlet-name>LoggedInUserProfileServlet</servlet-name>
    <servlet-class>servlets.LoggedInUserProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoggedInUserProfileServlet</servlet-name>
    <url-pattern>/LoggedInUserProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrationServlet</display-name>
    <servlet-name>RegistrationServlet</servlet-name>
    <servlet-class>servlets.RegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationServlet</servlet-name>
    <url-pattern>/RegistrationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FailServlet</display-name>
    <servlet-name>FailServlet</servlet-name>
    <servlet-class>status.FailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FailServlet</servlet-name>
    <url-pattern>/FailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchUserServlet</display-name>
    <servlet-name>SearchUserServlet</servlet-name>
    <servlet-class>servlets.SearchUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchUserServlet</servlet-name>
    <url-pattern>/SearchUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProjectionServlet</display-name>
    <servlet-name>ProjectionServlet</servlet-name>
    <servlet-class>servlets.ProjectionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProjectionServlet</servlet-name>
    <url-pattern>/ProjectionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchMovieServlet</display-name>
    <servlet-name>SearchMovieServlet</servlet-name>
    <servlet-class>servlets.SearchMovieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchMovieServlet</servlet-name>
    <url-pattern>/SearchMovieServlet</url-pattern>
  </servlet-mapping>
</web-app>