@font-face {
  font-family: 'Oleo';
  src:  url('../Oleo_Script/OleoScript-Bold.ttf')  format('truetype');
       
}

body {
	background-image: url("images/back21.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
	font-family: Oleo;
}

.container{
	background-image: url("images/Ticket.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin: 0 auto;
	width: 600px;
	height: 300px;
	
}

.form{
	position: relative;	
}

ul {
	list-style-type: none;
	margin-left:0cm;
	padding: 0px;
	overflow: hidden;
	background-color: transparent;
	position: sticky;
	top: 0;
}

li {
	float: left;
}


li a {
	display: block;
	color: pink;
	text-align: center;
	padding: 20px 20px;
	text-decoration: none;
}

li a:hover {
	background-color: violet;
	color:black;
}
.active {
	background-color: violet;
	color:black;
}

h2{
	color: pink;
  	text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
	font-size:50px;
	text-align: center;
}

h4{
	color: pink;
  	text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
	text-align: center;
	font-size: 30px;
	
}

input{
	border: none;
	background: none;
	height: 40px;
	font-size: 20px;
	color: pink;
  	text-shadow: -1px 0 pink, 0 1px pink, 1px 0 pink, 0 -1px pink;
}

input:focus{
	border: 3px solid #555;
}

div{
	color: black;
  	text-shadow: -1px 0 pink, 0 1px pink, 1px 0 pink, 0 -1px pink;
	font-size: 20px;
	margin: 0 auto;
	font-style: italic;
	
}

#movieName{
	position: absolute;
	top: 12px;
	left: 60px;
	font-size: 30px;
	color: black;
  	text-shadow: -1px 0 pink, 0 1px pink, 1px 0 pink, 0 -1px pink; 
	text-decoration: none;
	white-space: nowrap;
}

#dateAndTime{
	position: absolute;
	font-size: 20px;
	color: black;
  	text-shadow: -1px 0 pink, 0 1px pink, 1px 0 pink, 0 -1px pink;	
	top: 65px;
	left: 80px;
	white-space: nowrap;
}

#dateLabel{
	position: absolute;
	top: 110px;
	left: 160px;
}

#type{
	position: absolute;
	top: 225px;
	left: 265px;
}

#ptLabel{	
	position: absolute;
	top: 200px;
	left: 200px;	
}

#hall{
	position: absolute;
	top: 225px;
	left: 145px;
}

#hallLabel{	
	position: absolute;
	top: 200px;
	left: 130px;	
}
#seat{
	position: absolute;
	top: 225px;
	left: 345px;
}

#seatLabel{	
	position: absolute;
	top: 200px;
	left: 320px;	
}

#price{
	position: absolute;
	top: 225px;
	left: 525px;
}

#priceLabel{	
	position: absolute;
	top: 200px;
	left: 520px;	
}

footer{
	width: 50%;
	background-color: transparent;
	color:pink;
	font-family: Oleo;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
	text-align: center;	
	font-size:18px;
	margin-top: 25%;
	margin-left: 25%;
	margin-bottom: 0;
}

#deleteButton{
	float: right;
	color: pink;
	font-family: Oleo;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
	font-size: 25px;
	border: 2px solid black;
}